<div class="palm-scene">
  <div class="palm-group-unlabeled">
    <div id="yammer_msgs" x-mojo-element="List" class="palm-list"></div>
    <div class="space"></div>
  </div>

  <div class="palm-scrim" id="spinnerScrim">
    <div x-mojo-element="Spinner" id="mojoSpinner" name="mojoSpinner" class='spinnerXL'></div>
  </div>
  <div x-mojo-element="Spinner" id="mojoSpinnerSmall" name="mojoSpinner" class='spinner'></div>

  <div class="y-cmdmenu">
    <div id="replyTo" x-mojo-touch-feedback="immediate">Reply</div>
    <div id="likedBy" x-mojo-touch-feedback="immediate">Like</div>
  </div>

  <div id="replyForm">
    <!-- Show Reply Message here -->
    <div x-mojo-element="SmartTextField" id="statusId" name="statusName" class="yammit"></div>
    <div x-mojo-touch-feedback="immediate" id="updateId">Reply</div>
  </div>

</div>
